*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
html{
    scroll-behavior: smooth;
}
.nav-bar{
    width: 100%;
    height: 100px;
    background-color: rgb(206, 206, 206);

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.datlogo-container{
    margin-right: auto;
    margin-bottom: 0px;
    padding-bottom: 0px;    
}
.datlogo{
    margin-right: auto;
    padding-left: 30px;
    text-decoration: none;
    font-weight: 800;
    font-size: 3rem;
    color: brown;
    margin-bottom: 0;
}
.motto{
    
    font-style: italic;
    font-weight: 0;
    font-size: small;
    padding-left: 30px;
}
.nav-items{
    display: flex;
    align-items: center;
    list-style: none;
}
.nav-items li{
    list-style: none;
}
.nav-items li a{
    text-decoration: none;
    padding: 40px 20px;
    color: brown;
    font-weight: 600;
    transition: 0.4s;
}
.nav-items li a:hover{
    background-color: rgb(168, 168, 168);
    color: #fff;
}
.harmburger-menu{
    display: none;
    width: 70px;
    height: 70px;
}
.harmburger-menu span{
    display: block;
    height: 3px;
    width: 60%;
    margin: 13px auto;
    background-color: brown;
    transition: 0.3s;
}
@media (max-width: 848px){
    .harmburger-menu{
        display: block;
    }
    .nav-items{
        position: fixed;
        top: 100px;
        right: -100%;
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: rgb(206, 206, 206);
        transition: 0.3s;
    }
    .nav-items li{
        display: block;
        width: 100%;
    }
    .nav-items li a{
        display: block;
        padding: 20px 20px;
    }
    .harmburger-menu.active span:nth-child(1){
        transform: translateY(15px) rotate(45deg);
    }
     .harmburger-menu.active span:nth-child(2){
        opacity: 0;
    }
     .harmburger-menu.active span:nth-child(3){
        transform: translateY(-15px) rotate(-45deg);
    }
    .nav-items.active{
        right:0%;
    }
}
/*----------------------------------------------*/
.home-page{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.765),rgba(0, 0, 0, 0.726)),url("images/carousel-2.jpg") ;
}
.home-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
}
.small-heading{
    color: white;
    text-align: center;
    font-size: 1rem;
    transition: 0.3s;
}
.main-heading{
    color: white;
    font-size: 3rem;
    margin: 20px auto;
    transition: 0.3s;
}
/*-----------get-started-btn-------------*/
.get-started-btn{
    margin-top: 20px;
    text-decoration: none;
    color: brown;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 40px;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
}
.get-started-btn:hover{
    background-color: brown;
    border: 2px solid brown;
    color: white;
    box-shadow: 0px 0px 10px black;
}
@media (max-width:631px){
    .main-heading{
        font-size: 2rem;
    }
    .small-heading{
        font-size: 14px;
    }
}
/*---------------what-we-offer---------------------*/
.what-we-offer{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.765),rgba(0, 0, 0, 0.726)),url("images/carousel-3.jpg") ;

    display: flex;
    align-items: center;
    justify-content: center;
}
.page-two-heading{
    padding-top: 50px;padding-bottom: 30px;
    color: #fff;
    font-size: 3rem;
    text-align: center;
}
.services-container{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    transition: 0.3s;
}
.service-item{
    text-align: center;
    width: 200px;
    height: 250px;
    padding: 20px;
    background-color: rgba(165, 42, 42, 0.461);
    border: 2px solid white;
    border-radius: 10px;
    column-gap: 20px;
}
.service-name{
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
}
.service-sub-name{
    margin-bottom: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.sevice-description{
    margin-bottom: 20px auto;
    color: white;
    text-align: justify;
}
.get-started-btn-two{
    bottom: 10px;
    margin-top: 20px;
    text-decoration: none;
    color: brown;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 40px;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
}
.get-started-btn-two:hover{
    background-color: brown;
    border: 2px solid brown;
    color: white;
    box-shadow: 0px 0px 10px black;
}
@media (max-width:1200px){
    
}
/*--------------about-content-----------------*/
.about-content{
    padding: 50px;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
}
.image-frame{
    flex-basis: 40%;  
    background-image: url("images/quote.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    border: 2px solid brown;
    border-radius: 10px;
}
.about-us-text{
    flex-basis: 60%;
}
.about-description{
    text-align: justify;
    margin-bottom: 20px;
}
.readmore-btn{
    text-decoration: none;
    color: brown;
    font-weight: 600;
    border: 2px solid brown;
    border-radius: 10px;
    padding: 10px 40px;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
}
.readmore-btn:hover{
    background-color: brown;
    border: 2px solid brown;
    color: white;
    box-shadow: 0px 0px 10px black;
}
.about-heading{
    color: brown;
    font-size: 3rem;
    margin-bottom: 20px;    
}
/*------------------packages----------------------*/
.packages{
    padding: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.packages-types{
    color: brown;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}
.we-motto{
    color: brown;
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.packages-container{
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
}
.packages-item{
    width: 300px;
    border: 2px solid brown;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.916),rgba(165, 42, 42, 0.731)),url("images/portfolio-4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.package-item-name{
    width: 200px;
    height: 40px;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.sme-packages{
    color: rgb(255, 255, 255);
    font-size: 1rem;
}
.period{
    color: brown;
    font-size: 2rem;
    font-weight: 600;
}
.description{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin: 20px auto;
}
.ordernow-btn{
    margin-bottom: 20px;
    text-decoration: none;
    color: brown;
    font-weight: 600;
    border: 2px solid brown;
    border-radius: 10px;
    padding: 10px 40px;
    transition: 0.3s;
    background-color: rgb(255, 255, 255);
}
.ordernow-btn:hover{
    background-color: brown;
    border: 2px solid brown;
    color: white;
    box-shadow: 0px 0px 10px black;
}